#root {
        background-color: #EBE9E6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
}
h1,
h2,
h3,
.slogan {
    font-style: italic;
}
#contener {
    display: flex;
    min-height: 100vh;
    width: 100%;
}
section {
    width: 45%;
    min-width: 240px;
}
.menu {
    width:14em;
    padding:0 1em;
    background: #FFF;
}
.menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.menu ul li {
    width: 100%;
    list-style: none;
    border-radius: 1;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    flex: 1;
    background-color: #EBE9E6;
    margin: 4.75em 0 1em 0;
    gap: 1em;
}
header {
    text-align: center;
}
h1 {
    display: inline;
}
header h2, header p {
    text-align: left;
}
.begin > a,
.menu > ul > li > a {
    display: block;
    height:100%;
    padding: .5em;
    font-weight: bold;
    border-radius: .5em;
}
.menu > ul > li > a {
    color: #4C7676;
}
a {
    text-decoration: none;
}