.vertical-menu {
    background: #FFF;
    display: flex;
}
.vertical-menu > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.vertical-menu > div > p:first-child {
    color : #4C7676;
    font-weight: bold;
    font-style: italic;
    padding-left: 1em;
    font-size: 2em;
    margin-top: .5em;
}
.menu {
    display:flex;
    justify-content: flex-end;
    padding:0 1em;
    background: #FFF;
    width:14em;
}
.menu button {
    display: none;
    width: 80px;
    height: 80px;
    border: none;
    background: #FFF;
}
.menu ul {
    display: flex;
    flex-direction: column;
    width:14em;
}
.menu ul li {
    width: 100%;
    list-style: none;
    border-radius: 1;
}

@media (max-width: 800px) {
        .vertical-menu {
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        width: 100%;  
        position: fixed;
        right: 0;
        top: 0;
    }
    .menu button {
        display: inline;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
    }
    .open-menu {
        overflow: hidden;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -124px;
        list-style: none;
        background: #f1f1f1;
        opacity: 1;
        border-radius: 0 0 0 1rem;
        z-index: -1;
    }
    
}
@media (min-width: 801px) {
    .vertical-menu {
        flex-direction:column;    
    }

    nav > ul {
        visibility: show;
    }
}